
/packages
/TestResults
/scalejs.navigation-yui.v11.suo
/scalejs.navigation-yui/build
/scalejs.navigation-yui/obj
/scalejs.navigation-yui/scalejs.navigation-yui.csproj.user
/scalejs.navigation-yui.test/build
/scalejs.navigation-yui.test/obj